div {
    /* padding: 100px; */
    border: none;
    background-color: grey;
}

.header {
    color: antiquewhite;
}

.home {
    border: none;
    border-radius: 4px;
    width: 20%;
    height: 10%;
    color: black;
}